/* .card-container {
    perspective: 700;
}

.card {
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 200px;
    margin: 20px auto 0px auto;
    background: #5677fc;
    width: 200px;
    height: 200px;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    margin: 0;
}

h2 {
    margin: 0;
}

.card:hover {
    transform: rotateY(180deg);
} */
